<div class="shadow p-3 mb-5 bg-white rounded">
  <h3>
    <%= t('.edit_badge') %>
  </h3>
</div>

<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <%= render 'form' %>
  </div>
</div>

<a class="btn btn-primary" href="<%= admin_badges_path %>" role="button"><%= t('back') %></a>
