<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('admin_panel') %></span>

  <div class="nav-admin user">
    <b class="nav-admin user-email"><%= t('welcome', user: current_user.email) %></b>
    <%= link_to t('exit'), destroy_user_session_path, method: :delete %>
  </div>
</div>