<tr>
  <td class="align-middle"><%= badge.name %></td>
  <td class="align-middle"><%= image_tag badge.logo %></td>
  <td class="align-middle"><%= badge.rule %></td>
  <td class="align-middle"><%= badge.value %></td>
</tr>
