<% if resource.errors.present? %>
  <div class="alert alert-danger">
    <h5>
      <%= t('.header', count: resource.errors.count) %>:
    </h5>

    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
