<footer id="sticky-footer" class="py-4 bg-success text-white-50 fixed-bottom">
    <div class="container text-center">
      <small class = "text-dark">
        &copy; <%= year %>
        Author: Carden
        <a class="text-dark" <%= github_url('carden-code', 'test_guru') %></a>
        <a href="https://thinknetica.com" target="_blank" class="text-dark">
        "Учебный проект в онлайн-школе Thinknetica"</a>
      </small>
    </div>
</footer>
